﻿@model Vidly.Models.Komanda

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Komandos pavadinimas: @Model.Komandos_Pavadinimas</li>
    <li>Narys1: @Model.Narys1</li>
    <li>Narys2: @Model.Narys2</li>
    <li>Narys3: @Model.Narys3</li>
    <li>Narys4: @Model.Narys4</li>
    <li>Narys5: @Model.Narys5</li>
    <li>Date Added: @Model.Name</li>
</ul>
