﻿@model IEnumerable<Vidly.Models.Komanda>

@{
    ViewBag.Title = "Komanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Komanda</h2>
<h2>
    @Html.ActionLink("New Komanda", "New", "Komanda", null, new { @class = "btn btn-primary" })
</h2>
<p>wow</p>
<p>@Html.ActionLink("New Komanda", "New", "Komanda", routeValues: null, htmlAttributes: new { title = "New Komanda" })</p>
<table id="komanda" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Komanda</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#komanda").DataTable({
                ajax: {
                    url: "/api/komanda",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, komanda) {
                            return "<a href='/komanda/edit/" + komanda.id + "'>" + komanda.name + "</a>";
                        }
                    },
                    {
                        data: "Komandos_Pavadinimas"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-komanda-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#komanda").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this komanda?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/komanda/" + button.attr("data-komanda-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
