﻿@model Vidly.ViewModels.RandomKomandaViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    This is a comment
    On multiple lines    
*@


@{
    var className = Model.Turnyras.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Komanda.Name</h2>

@if (Model.Turnyras.Count == 0)
{
    <text>No one has rented this komanda before.</text>
}
else
{
    <ul>
        @foreach (var turnyras in Model.Turnyras)
        {
            <li>@turnyras.Name</li>
        }
    </ul>
}

