﻿@model IEnumerable<Vidly.Models.Komanda>
@{
    ViewBag.Title = "Komandos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Komandos</h2>
<h2>
    @Html.ActionLink("New Komanda", "New", "Komanda", null, new { @class = "btn btn-primary" })
</h2>
<table id="komanda" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Komandos pavadinimas</th>
            <th>Nariai</th>
            <th>Istrinti?</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#komanda").DataTable({
                ajax: {
                    url: "/api/komanda",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "komandos_Pavadinimas",
                        render: function (data, type, komanda) {
                            return "<a href='/komanda/edit/" + komanda.id + "'>" + komanda.komandos_Pavadinimas + "</a>";
                        }
                    },
                    {
                        data: "nariai"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-komanda-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#komanda").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this komanda?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/komanda/" + button.attr("data-komanda-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
