﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Uzregistruoti i turnyra", "New", "Rentals")</li>
                <li>@Html.ActionLink("Turnyrai", "Index", "Turnyras")</li>
                <li>@Html.ActionLink("Komandos", "Index", "Komanda")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

