﻿@model dynamic

@{
    ViewBag.Title = "Prisiregistruoti į turnyrą";
}

<h2>Prisiregistruoti į turnyrą</h2>

<form id="newRental">
    <div class="form-group">
        <label>Turnyras</label>
        <div class="tt-container">
            <input id="turnyras" name="turnyras" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Komanda</label>
        <div class="tt-container">
            <input id="komanda" name="komanda" data-rule-atLeastOneKomanda="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="komanda" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Registruotis</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var vm = {
                komandaIds: []
            };

            var turnyras = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/turnyras?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#turnyras').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'turnyras',
                display: 'name',
                source: turnyras
            }).on("typeahead:select", function(e, turnyras) {
                vm.turnyrasId = turnyras.id;
            });

            var komanda = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/komanda?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#komanda').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'komanda',
                display: 'name',
                source: komanda
            }).on("typeahead:select", function (e, komanda) {
                $("#komanda").append("<li class='list-group-item'>" + komanda.name + "</li>");

                $("#komanda").typeahead("val", "");

                vm.komandaIds.push(komanda.id);
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.turnyrasId && vm.turnyrasId !== 0;
            }, "Please select a valid turnyras.");

            $.validator.addMethod("atLeastOneKomanda", function () {
                return vm.komandaIds.length > 0;
            }, "Please select at least one komanda.");

            var validator = $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm
                    })
                    .done(function () {
                        toastr.success("Rentals successfully recorded.");

                        $("#turnyras").typeahead("val", "");
                        $("#komanda").typeahead("val", "");
                        $("#komanda").empty();

                        vm = { komandaIds: [] };

                        validator.resetForm();
                    })
                    .fail(function () {
                        toastr.error("Something unexpected happened.");
                    });

                    return false;
                }
            });
        });
    </script>
}
