﻿@model Vidly.Models.Turnyras

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Turnyro_pradzia.HasValue)
    {
        <li>Birthdate: @Model.Turnyro_pradzia.Value.ToShortDateString()</li>
    }
</ul>