﻿@model Vidly.ViewModels.KomandaFormViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Komanda"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@Value = User.Identity.GetUserName() })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Komandos_Pavadinimas)
        @Html.TextBoxFor(m => m.Komandos_Pavadinimas, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Komandos_Pavadinimas)
    </div>
     <div class="form-group">
        @Html.LabelFor(m => m.Narys1)
        @Html.TextBoxFor(m => m.Narys1, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Narys1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Narys2)
        @Html.TextBoxFor(m => m.Narys2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Narys2)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Narys3)
        @Html.TextBoxFor(m => m.Narys3, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Narys3)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Narys4)
        @Html.TextBoxFor(m => m.Narys4, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Narys4)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Narys5)
        @Html.TextBoxFor(m => m.Narys5, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Narys5)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Turnyro_id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


