﻿@model Vidly.ViewModels.TurnyrasFormViewModel
@{
    ViewBag.Title = "Naujas Turnyras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Naujas Turnyras</h2>

@using (Html.BeginForm("Save", "Turnyras"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Turnyras.Name)
        @Html.TextBoxFor(m => m.Turnyras.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Turnyras.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Turnyras.Komandos_dydis)
        @Html.TextBoxFor(m => m.Turnyras.Komandos_dydis, new { @class = "form-control" })
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Turnyras.Dalyviu_skaicius)
        @Html.TextBoxFor(m => m.Turnyras.Dalyviu_skaicius, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Turnyras.Aprasymas)
        @Html.TextBoxFor(m => m.Turnyras.Aprasymas, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Turnyras.Aprasymas)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Turnyras.MembershipTypeId)
        @Html.DropDownListFor(m => m.Turnyras.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Turnyras.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Turnyras.Turnyro_pradzia)
        @Html.TextBoxFor(m => m.Turnyras.Turnyro_pradzia, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Turnyras.Turnyro_pradzia)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Turnyras.Busena) Aktyvuotas?
        </label>
    </div>
    @Html.HiddenFor(m => m.Turnyras.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>    
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
